@charset "utf-8";

/*------------------------
		clearfix.css
------------------------*/



/*----------------------------------*/
/*									*/
/* ClearFix							*/
/*									*/
/*----------------------------------*/

#HeadBox:after,
#ContentBox:after,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#HeadBox,
#ContentBox,
.clearfix {
	display: inline-block;
}

/* Hides from IE-mac */
* html #HeadBox,
* html #ContentBox,
* html .clearfix {
	height: 1%;
}
#HeadBox,
#ContentBox,
.clearfix {
	display: block;
}
