@charset "utf-8";

/*------------------------
	initialization.css
------------------------*/



body {
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
}

h1,h2,h3,h4,h5 {
	margin: 0;
	padding: 0;
	font-weight:normal;
}

div {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration:none !important;
}

a:visited {}
a:hover {
	color: #C00;
}
a:active { color: #cc0000; text-decoration: underline; }

table,th,td {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-size: 1em;
}

ul,ol,li,dl,dt,dd {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-position: outside;
	font-size: 12px;
}

img {
	margin: 0;
	padding: 0;
	border: none;
	line-height: 0;
}

form {
	margin: 0;
	padding: 0;
}

input,select,textarea {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

textarea:focus,
input:focus {
  outline: none;
  background-color: #FFFFEE;
}

pre,address,citi {
	margin: 0;
	padding: 0;
}

object,embed {
	margin: 0;
	padding: 0;
}
